<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="header">
        <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <br>
        <h1>Lorem ipsum dolor sit amet consectetur</h1>
        <br>
    </div>
    <br>
    <div class="first">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quaerat tenetur quasi. Suscipit, illum. Vitae nam aliquid nemo pariatur accusamus? Minus aspernatur optio voluptatibus odit quisquam, illum officiis excepturi suscipit blanditiis nihil. Voluptatibus quidem sunt esse laborum perferendis, animi porro veniam? Unde nesciunt pariatur et adipisci obcaecati magni placeat eligendi.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quaerat tenetur quasi. Suscipit, illum. Vitae nam aliquid nemo pariatur accusamus? Minus aspernatur optio voluptatibus odit quisquam, illum officiis excepturi suscipit blanditiis nihil. Voluptatibus quidem sunt esse laborum perferendis, animi porro veniam? Unde nesciunt pariatur et adipisci obcaecati magni placeat eligendi.</p>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <h4>Lorem, ipsum dolor.</h4>
        <img src="images/banner_newsletter.png" alt="banner Mercado Liebre">
    </div>
    <br>
    <div>
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    </div>
    <br>
    <div>
        <a class="hipervin" href="">
            Lorem, ipsum dolor ->
        </a>
    </div>
    <br>
    <hr>
    <div>
        <h4>Lorem, ipsum dolor.</h4>
    </div>
    <div>
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
    </div>
    <div class="first">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui nesciunt obcaecati rem alias, officia assumenda ex, aut tempora minima quos ullam quasi quam! Fugiat aliquam libero sit ipsum. Vero distinctio ex, ipsa quis, minima, inventore reprehenderit dicta nesciunt sunt doloremque velit. Vero nobis architecto quod ab culpa consectetur consequatur eos, nemo explicabo vel soluta rem officia maiores quasi voluptas exercitationem obcaecati iure, maxime illo ad! Magnam commodi dolores fugiat natus voluptas? Voluptatum similique omnis incidunt, quaerat debitis sit, expedita, eveniet odit ut quam reprehenderit alias repellat quibusdam veniam laborum maiores cupiditate dolore recusandae quod quis voluptate? Perferendis, nobis aperiam.</p>
    </div>
    <hr>
    <br>
    <div class="hipervin">
        <ul>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://github.com/">GitHub</a></li>
        </ul>
    </div>
    <br>
    <div class="first">
        <p>
            Saludos,
        </p>
        <p>
            Uri y Herni.
        </p>
    </div>
    <br>
    <hr>
    <div class="footer">
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa recusandae ex fuga, voluptatibus, vel ducimus vero laboriosam nulla veniam eos, consequuntur modi amet at aut?</small>
    </div>
</body>
</html>